<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451330587403-1rmi1q86ejnse4oid72icunv5fijh3tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451330587403-1rmi1q86ejnse4oid72icunv5fijh3tn</string>
	<key>API_KEY</key>
	<string>AIzaSyB3JkW93WWUVkVMyqjX_r7yKKfeHJ8t1js</string>
	<key>GCM_SENDER_ID</key>
	<string>451330587403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jwang.INFO6125Project2</string>
	<key>PROJECT_ID</key>
	<string>final-ios-project-db4c6</string>
	<key>STORAGE_BUCKET</key>
	<string>final-ios-project-db4c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451330587403:ios:8bdf76da2582a7dbe3c00e</string>
</dict>
</plist>